body {
	margin: 0;
	padding: 0;
	font-size: 700;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #f0f0f0;
}

.main {
	min-height: 100vh;
	padding: 40px 0;
}

.container {
	display: flex;
	justify-content: center;
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	width: 500px;
	margin: 0 auto;
	min-height: calc(100vh - 80px);
}

.form_wrap {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.logo_wrap h1 {
	margin: 0px;
	padding-bottom: 40px;
	background-size: 100% 100%;
	display: block;
	font-size: 0;
	height: 55px;
	line-height: 0;
	text-indent: 0px;
	width: 200px;
}

.logo_wrap img {
	width: 100%;
	height: 100%;
}

.big_title {
	color: #333;
	display: block;
	font-size: 25px;
	line-height: 22px;
	margin-bottom: 40px;
}

.title {
	color: #333;
	display: block;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 10px;
}

.title>span {
	font-size: 14px;
}

.ipt_wrap {
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: flex;
	height: 48px;
	overflow: hidden;
	margin-bottom: 35px;
	padding: 0 12px;
}

.ipt_box {
	border: none;
	flex: 1;
	height: 100%;
	padding: 0;
	font-weight: 500;
	font-size: 15px;
	outline: none;
}

#id, #name, #birth {
	background-color: #f0f0f0;
}

#gray {
	background-color: #f0f0f0;
}

input[type=number], input[type=password], input[type=text], select,
	textarea {
	box-sizing: border-box;
	color: #525252;
	font-family: 'Noto Sans KR', sans-serif;
}

.btn {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 7px 16px;
}

.radio_wrap {
	display: flex;
	margin-bottom: 50px;
}

.radio_wrap .radios {
	display: flex;
	flex: 1;
}

.radio_wrap .radios .radio_btn {
	display: none;
	border: 0 !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.radio_wrap .radios:last-of-type {
	margin-left: 5px;
}

.btn.radio {
	line-height: 25px;
	font-size: 16px;
	height: 40px;
	align-items: center;
	display: inline-flex;
	flex: 1;
	justify-content: center;
	padding: 0;
}

.radio_wrap .radios .radio_btn:checked+label {
	background-color: #68A2DF;
	border-color: #68A2DF;
	color: #fff;
}

.btn_wrap {
	display: flex;
}

.btn.rgt {
	background-color: #68A2DF;
	color: #fff;
	border: none !important;
	line-height: 25px;
	font-size: 16px;
	height: 40px;
	justify-content: center;
	display: inline-flex;
	flex: 1;
	cursor: pointer;
}

.btn.rgt:last-of-type {
	margin-left: 5px;
}
.btn.rgt:hover {
	background-color: #639ad4 !important;
}